<div class="#">
    <h1 class="center">Update {{ shoe.name }}</h1>

    <!-- You should add the values in the update form as below, to make it easier for the users to update info -->

    <form action="/closet/shoes/{{shoe.name}}?_method=put" method="post" class="new-shoes-form">
        <input type="text" name="shoes[name]" placeholder="Name" value="{{shoe.name}}" required/>
        <input type="text" name="shoes[category]" value="Shoe" value="{{shoe.category}}"  />
        <input type="text" name="shoes[color]" placeholder="Color" value="{{shoe.color}}"  required/>
        <input type="text" name="shoes[images]" placeholder="Image URL" value="{{shoe.images}}"  required/>
        <input type="text" name="shoes[tags]" placeholder="Tags" value="{{shoe.tags}}"  />
        {{!-- <input type="submit" value="Add An Accessory" class="submit-button" /> --}}
    <div class=row>
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Submit</button>
    </div>
    </form>
    <div class="row">
    <form action="/closet/shoes/{{shoe.name}}?_method=delete" method="post">
        <button class="btn waves-effect waves-light col s12 black" type="submit" name="action">Delete</button>
    </form>
    </div>
</div>
